<div class="container">
    <div class="mx-2" id="preuzimanjeDiv">
        <button class="btn btn-secondary" (click)="downloadXhtml()">Preuzmi XHTML</button>
        <button class="btn btn-secondary mx-2" (click)="downloadPdf()">Preuzmi PDF</button>
        <button class="btn btn-secondary" (click)="downloadMetadataRdf()">Preuzmi Metapodatke RDF</button>
        <button class="btn btn-secondary" (click)="downloadMetadataJson()">Preuzmi Metapodatke JSON</button>
    </div>
    <div class="mt-1 mx-2" *ngIf="tipDokumenta == 'zahtev-za-sertifikat'">
        <button class="btn btn-primary" (click)="drugiDokumenti()">Ostali dokumenti korisnika</button>
        <!-- <app-dokumenti-korisnika [idK]="idK"></app-dokumenti-korisnika> -->
        <button class="btn btn-success mx-2 float-right" (click)="prihvati()">Prihvati zahtev</button>
        <div class="row">
            <div class="col">
                <input class="form-control my-1" type="text" [(ngModel)]="razlog">
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" (click)="odbij()">Odbij zahtev</button>
            </div>
        </div>        
    </div>
    <div class="card" *ngIf="referenciraniDokumenti.listaDokumenata.length > 0">
        <h3>Referencirani dokumenti</h3>
        <div *ngFor="let rd of referenciraniDokumenti.listaDokumenata">
        <a href="{{rd.documentURI}}">{{rd.tipDokumenta}}</a>
        </div>
    </div>
    <iframe class="container" style="height: 800px" src="#" frameborder="0"></iframe>
</div>