<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['interesovanje']">Интересовање</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['obrazac-saglasnosti']"
          >Сагласност</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['sertifikat-zahtev']">Сертификат</a>
      </li> -->
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link"  [routerLink]="['pretraga-dokumenata']"
          >Pretraga</a
        >
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link"  [routerLink]="['zahtevi-za-sertifikate']"
          >Pregled Zahteva</a
        >
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link"  [routerLink]="['generisi-izvestaj']"
          >Izveštaj</a
        >
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['moji-dokumenti']"
          >Моји документи</a
        >
      </li> -->
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <!-- todo: Након пријаве, требало би да нестану регистрација и логин, што се деси само након рифреша -->
      <a class="nav-link" *ngIf="!loggedIn" [routerLink]="['registracija']">Registracija</a>
      <a class="nav-link" *ngIf="!loggedIn" [routerLink]="['login']">Prijavi se</a>
      <a class="nav-link" *ngIf="loggedIn" [routerLink]="['login']" (click)="logout()">Odjavi se</a>
    </form>

  </div>
</div>

<div class="container content-container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
