<div id="page">
  <h2 id="title">
    <b>
      З А Х Т Е В <br />
      за издавање дигиталног зеленог сертификата</b
    >
  </h2>
  <br /><br />
  У складу са одредбом Републике Србије о издавању дигиталног зеленог
  сертификата као потврде о извршеној вакцинацији против COVID-19, резултатима
  тестирања на заразну болест SARS-CoV-2 или опоравку од болести COVID-19,
  подносим захтев за издавање дигиталног зеленог сертификата.
  <br /><br />
  Подносилац захтева:
  <br /><br />

  Име и презиме:
  <input type="text" class="form-control" required  [(ngModel)]="imeIperzime"/>
  <br />
  Датум рођења:
  <input type="text" class="form-control" required [(ngModel)]="zahtevZaSertifikat.pacijent.datum_rodjenja"/>
  <br />
  Пол:
  <input type="text" class="form-control"  required [(ngModel)]="zahtevZaSertifikat.pacijent.pol"/>
  <br />
  Јединствени матични број грађанина:
  <input type="text" class="form-control"  required [(ngModel)]="zahtevZaSertifikat.pacijent.jmbg"/>
  <br />
  Број пасоша:
  <input type="text" class="form-control" required [(ngModel)]="zahtevZaSertifikat.pacijent.broj_pasosa"/>
  <br />
  Разлог за подношење захтева: <br />
  <textarea id="w3review" name="w3review" rows="4" cols="50" [(ngModel)]="zahtevZaSertifikat.razlog_podnosenja"> </textarea>
  <br />
  <p id="podtekst">
    (навести што прецизнији разлога за подношење захтева за издавање дигиталног
    пасоша)
  </p>
  <br /><br />
  <span>
    У
    <input
      type="text"
      name="fiksni"
      id="mesto"
      required
      [(ngModel)]="zahtevZaSertifikat.mesto"
    />,
  </span>
  <br />

  дана14.2022. године <br><br>
  <div class="form-group">
    <button class="btn btn-primary btn-block" id="ok" (click)="onPotvrdi()">Потврди</button>
  </div>
</div>
