<div id="page">
  <span style="float: left">
    <h3>
      САГЛАСНОСТ ЗА СПРОВОЂЕЊЕ <br />
      ПРЕПОРУЧЕНЕ ИМУНИЗАЦИЈЕ
      <br />(попуњава пацијент)
    </h3>
  </span>

  <p href="#" style="float: right; text-align: right; margin-left: 80px">
    ИНСТИТУТ ЗА <br />
    ЈАВНО ЗДРАВЉЕ СРБИЈЕ<br />
    „Др Милан Јовановић Батут
  </p>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <form name="form">
    <b>Држављанство</b> 1) Република Србија | ЈМБГ
    <input type="text" name="jmbg" id="jmbg" class="txt-imput" /> <br /><br />
    <div id="drzavljanstvo-div">
      <div id="2">
        2) <input type="text" id="drzavljanstvo" class="txt-imput" /> |

        <input type="text" id="pasos" class="txt-imput" />
      </div>
    </div>
    <br />
    <b
      >Презиме <input type="text" id="prezime" class="txt-imput" /> | Име
      <input type="text" id="ime" class="txt-imput" />
      | Име родитеља <input type="text" id="imeRoditelja" class="txt-imput" />
      <br /><br />
      Пол: <input type="radio" id="m" class="radio" /> М,
      <input type="radio" id="z" class="radio" /> Ж | Датум рођења
      <input type="text" id="datumRodjenja" class="txt-imput" /> | Место рођења
      <input type="text" id="mestoRodjenja" class="txt-imput" /> <br />
      <br />
      Адреса (улица и број)
      <input type="text" id="adresa" class="txt-imput" /> | Место/Насеље
      <input type="text" id="mesto" class="txt-imput" /><br /><br />
      Општина/Град <input type="text" id="grad" class="txt-imput" /> | Тел.
      фиксни <input type="text" id="fiksni" class="txt-imput" /> <br /><br />
      Тел. мобилни <input type="text" id="mobilni" class="txt-imput" /> | имејл
      <input type="text" id="mejl" class="txt-imput" /><br /><br
    /></b>
    <b>Радни статус: </b>
    <input type="radio" id="zaposlen" class="radio" /> запослен,
    <input type="radio" id="nezaposlen" class="radio" /> незапослен,
    <input type="radio" id="panzioner" class="radio" /> пензионер,
    <input type="radio" id="ucenik" class="radio" /> ученик,
    <input type="radio" id="student" class="radio" /> студент,
    <input type="radio" id="dete" class="radio" /> дете<br /><br />
    <b>Занимање запосленог: </b>
    <input type="radio" id="zz" class="radio" /> здравствена заштита,
    <input type="radio" id="sz" class="radio" /> социјална заштита,
    <input type="radio" id="prosveta" class="radio" /> просвета,
    <input type="radio" id="mup" class="radio" /> МУП,
    <input type="radio" id="vojska" class="radio" /> Војска РС,
    <input type="radio" id="dr" class="radio" /> друго<br /><br />
    <b>Корисник установе соц. зашт. </b>
    <input type="radio" id="da" class="radio" /> ДА,
    <input type="radio" id="ne" class="radio" /> НЕ
    <b>| Назив и општина седишта</b><br /><br />
    <b>Изјављујем да: </b>
    <b><input type="radio" id="saglasan" class="radio" /> CAГЛACAH САМ,</b>
    <b><input type="radio" id="nesaglasan" class="radio" /> HИСАМ САГЛАСАН </b
    >(означити) са спровођењем активне/пасивне<br />
    имунизације (уписати назив имунолошког лека):
    <input type="text" /><br /><br />

    <b
      >Лекар ми је објаснио предности и ризике од спровођења активне/пасивне
      имунизације наведеним имунолошким леком.</b
    ><br /><br />
  </form>

  <h2 id="title">
    ЕВИДЕНЦИЈА О ВАКЦИНАЦИЈИ ПРОТИВ COVID-19<br />
    (попуњава здравствени радник)
  </h2>
  <br /><br />

  Здравствена установа <input type="text" id="datumRodjenja" /> Вакцинацијски
  пункт <input type="text" id="datumRodjenja" /> <br /><br />
  Име, презиме, факсимил и бр. телефона лекара:
  <input type="text" id="datumRodjenja" /> <br /><br />
  Пре давања вакцине прегледати особу и упознати је са користима и о могућим
  нежељеним реакцијама после вакцинације. Обавезно уписати сваку дату вакцину и
  све тражене податке у овај образац и податке унети у лични картон о извршеним
  имунизацијама и здравствени картон. <br /><br />

  <table>
    <tr>
      <td>Назив вакцине</td>
      <td>Датум давања вакцине (V1 i V2)</td>
      <td>Начин давања вакцине</td>
      <td>Екстремитет</td>
      <td>Серија вакцине (лот)</td>
      <td>Произвођач</td>
      <td>Нежељена реакција</td>
      <td>Потпис лекара</td>
    </tr>
    <tr>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>ИМ</td>
      <td>
        <input type="radio" id="lr" class="radio" />ЛР
        <input type="radio" id="dr" class="radio" />ДР
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>ИМ</td>
      <td>
        <input type="radio" id="lr2" class="radio" />ЛР
        <input type="radio" id="dr2" class="radio" />ДР
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td colspan="8">
        Привремене контраиндикације <br />
        (датум утврђивања и дијагноза):
        <input type="text" />
      </td>
    </tr>
    <tr>
      <td colspan="8">
        Одлука комисије за трајне контраиндикације (ако постоји, уписати Да)
        <input type="text" />
      </td>
    </tr>
  </table>
  <b>Напомена:</b> Образац се чува као део медицинске документације пацијента.
</div>
