<div id="page">
  <span style="float: left">
    <h3>
      САГЛАСНОСТ ЗА СПРОВОЂЕЊЕ <br />
      ПРЕПОРУЧЕНЕ ИМУНИЗАЦИЈЕ
      <br />(попуњава пацијент)
    </h3>
  </span>

  <p href="#" style="float: right; text-align: right; margin-left: 80px">
    ИНСТИТУТ ЗА <br />
    ЈАВНО ЗДРАВЉЕ СРБИЈЕ<br />
    „Др Милан Јовановић Батут“
  </p>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <form name="obrazac" (ngSubmit)="(f.form.valid)" #f="ngForm">
    <b>Држављанство</b> 1) Република Србија | ЈМБГ
    <input
      type="text"
      name="jmbg"
      id="jmbg"
      class="txt-imput"
      [(ngModel)]="
        obrazacSaglasnosti.evidencija_pacijent.pacijent.drzavljanstvo.srpsko
          .JMBG
      "
      [ngModelOptions]="{ standalone: true }"
    />
    <div
      class="alert alert-danger"
      role="alert"
      id="passwordError"
      *ngIf="checkJMBG() && f.submitted"
    >
      ЈМБГ треба да садржи 13 цифара.
    </div>

    <br /><br />
    <div id="drzavljanstvo-div">
      <p id="block-2">2)</p>
      <div id="block-2">
        <div id="a">
          <input
            type="text"
            id="drzavljanstvo"
            class="txt-imput"
            style="margin-right: 10px"
            [(ngModel)]="
              obrazacSaglasnosti.evidencija_pacijent.pacijent.drzavljanstvo
                .strano.drzava
            "
            [ngModelOptions]="{ standalone: true }"
          />
          <label
            for="drzavljanstvo"
            id="drzavljanstvo"
            style="text-align: center"
            >(назив страног држављанства)
          </label>
        </div>

        <div id="a">
          <input
            type="text"
            id="pasos"
            class="txt-imput"
            maxlength="10"
            [(ngModel)]="
              obrazacSaglasnosti.evidencija_pacijent.pacijent.drzavljanstvo
                .strano.broj_pasosa
            "
            [ngModelOptions]="{ standalone: true }"
          />
          <label for="drzavljanstvo" id="pasos" style="text-align: center"
            >(бр. пасоша или ЕБС за стране држављане)</label
          >
          <div
            class="alert alert-danger"
            role="alert"
            id="passwordError"
            *ngIf="checkBrojPasosa() && f.submitted"
          >
            Погрешан формат.
          </div>
        </div>
      </div>
    </div>
    <br />
    <b
      >Презиме
      <input
        type="text"
        id="prezime"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.pacijent_info.prezime
        "
        [ngModelOptions]="{ standalone: true }" />
      | Име
      <input
        type="text"
        id="ime"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.pacijent_info.ime
        " />
      | Име родитеља
      <input
        type="text"
        id="imeRoditelja"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.ime_roditelja
        "
        [ngModelOptions]="{ standalone: true }" />
      <br /><br />
      <fieldset id="pol">
      Пол:

      <input
        type="radio"
        id="m"
        class="radio"
        name="pol"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.pacijent_info.pol
        "
        value="M"
        [ngModelOptions]="{ standalone: true }"
        />
      М,
      <input
        type="radio"
        id="z"
        class="radio"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.pacijent_info.pol
        "
        value="Z"
        [ngModelOptions]="{ standalone: true }" />
      Ж </fieldset> | Датум рођења
      <input
        type="text"
        id="datumRodjenja"
        class="txt-imput"
        name="pol"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.pacijent_info
            .datum_rodjenja
        "
        [ngModelOptions]="{ standalone: true }" />
      | Место рођења
      <input
        type="text"
        id="mestoRodjenja"
        class="txt-imput"
        [(ngModel)]="
        obrazacSaglasnosti.evidencija_pacijent.pacijent.mesto_rodjenja
        "
        [ngModelOptions]="{ standalone: true }" />
      <br />
      <br />
      Адреса (улица и број)
      <input
        type="text"
        id="adresa"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.pacijent_info.adresa
            .Ulica
        "
        [ngModelOptions]="{ standalone: true }" />
        и <input
        type="text"
        id="adresa"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.pacijent_info.adresa
            .Broj
        "
        [ngModelOptions]="{ standalone: true }" />
      | Место/Насеље
      <input
        type="text"
        id="mesto"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.pacijent_info.adresa
            .Mesto
        "
        [ngModelOptions]="{ standalone: true }" /><br /><br />
      Општина/Град
      <input type="text" id="grad" class="txt-imput" />
      | Тел. фиксни
      <input
        type="text"
        id="fiksni"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.kontakt.tel_fiksni
        "
        [ngModelOptions]="{ standalone: true }" />
      <div
        class="alert alert-danger"
        role="alert"
        id="passwordError"
        *ngIf="checkFiksni() && f.submitted"
      >
        Погрешан формат.
      </div>
      <br /><br />
      Тел. мобилни
      <input
        type="text"
        id="mobilni"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.kontakt.tel_mobilni
        "
        [ngModelOptions]="{ standalone: true }" />
      <div
        class="alert alert-danger"
        role="alert"
        id="passwordError"
        *ngIf="checkMobilni() && f.submitted"
      >
        Погрешан формат.
      </div>
      | имејл
      <input
        type="text"
        id="mejl"
        class="txt-imput"
        [(ngModel)]="
          obrazacSaglasnosti.evidencija_pacijent.pacijent.kontakt.email
        "
        [ngModelOptions]="{ standalone: true }" />
      <div
        class="alert alert-danger"
        role="alert"
        id="passwordError"
        *ngIf="checkEmail() && f.submitted"
      >
        Непостојећи мејл.
      </div>
      <br /><br
    /></b>
    <fieldset id="radni_status">
    <b>Радни статус: </b>
    <input
      type="radio"
      id="zaposlen"
      class="radio"
      name="radni_status"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.radni_status"
      value="zaposlen"
      [ngModelOptions]="{ standalone: true }"
    />
    запослен,
    <input
      type="radio"
      id="nezaposlen"
      class="radio"
      name="radni_status"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.radni_status"
      value="nezaposlen"
      [ngModelOptions]="{ standalone: true }"
    />
    незапослен,
    <input
      type="radio"
      id="panzioner"
      class="radio"
      name="radni_status"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.radni_status"
      value="penzioner"
      [ngModelOptions]="{ standalone: true }"
    />
    пензионер,
    <input
      type="radio"
      id="ucenik"
      class="radio"
      name="radni_status"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.radni_status"
      value="ucenik"
      [ngModelOptions]="{ standalone: true }"
    />
    ученик,
    <input
      type="radio"
      id="student"
      class="radio"
      name="radni_status"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.radni_status"
      value="student"
      [ngModelOptions]="{ standalone: true }"
    />
    студент,
    <input
      type="radio"
      id="dete"
      class="radio"
      name="radni_status"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.radni_status"
      value="dete"
      [ngModelOptions]="{ standalone: true }"
    />
    дете<br /><br />
  </fieldset>
  <fieldset id="zanimanje">
    <b>Занимање запосленог: </b>
    <input
      type="radio"
      id="zz"
      class="radio"
      name="zanimanje"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.zanimanje"
      value="zdravstvena zastita"
      [ngModelOptions]="{ standalone: true }"
    />
    здравствена заштита,
    <input
      type="radio"
      id="sz"
      class="radio"
      name="zanimanje"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.zanimanje"
      value="socijalna zastita"
      [ngModelOptions]="{ standalone: true }"
    />
    социјална заштита,
    <input
      type="radio"
      id="prosveta"
      class="radio"
      name="zanimanje"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.zanimanje"
      value="prosveta"
    />
    просвета,
    <input
      type="radio"
      id="mup"
      class="radio"
      name="zanimanje"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.zanimanje"
      value="mup"
    />
    МУП,
    <input
      type="radio"
      id="vojska"
      class="radio"
      name="zanimanje"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.zanimanje"
      value="vojska rs"
    />
    Војска РС,
    <input
      type="radio"
      id="dr"
      class="radio"
      name="zanimanje"
      [(ngModel)]="obrazacSaglasnosti.evidencija_pacijent.pacijent.zanimanje"
      value="drugo"
    />
    друго</fieldset><br />
    <fieldset id="socijalna_zastita">
    <b>Корисник установе соц. зашт. </b>
    <input
      type="radio"
      id="da"
      name="socijalna_zastita"
      [(ngModel)]="
        obrazacSaglasnosti.evidencija_pacijent.pacijent.socijalna_zastita
          .korisnik
      "
      value="true"
      [ngModelOptions]="{ standalone: true }"
    />
    ДА,
    <input
      type="radio"
      id="ne"
      name="socijalna_zastita"
      class="radio"
      [(ngModel)]="
        obrazacSaglasnosti.evidencija_pacijent.pacijent.socijalna_zastita
          .korisnik
      "
      value="false"
      [ngModelOptions]="{ standalone: true }"
    />
    НЕ <b>| Назив и општина седишта</b>
    <input
      type="text"
      id="prosveta"
      class="radio"
      [(ngModel)]="
        obrazacSaglasnosti.evidencija_pacijent.pacijent.socijalna_zastita
          .sediste
      "
    /></fieldset><br />
    <fieldset id="saglasnost">
    <b>Изјављујем да: </b>
    <b><input type="radio" id="saglasan" class="radio" name="saglasnost" [(ngModel)]="obrazacSaglasnosti.saglasnost.izjava" value="true"/> CAГЛACAH САМ,</b>
    <b><input type="radio" id="nesaglasan" class="radio" name="saglasnost" [(ngModel)]="obrazacSaglasnosti.saglasnost.izjava" value="false"/> HИСАМ САГЛАСАН </b>
    (означити) са спровођењем активне/пасивне<br />
    имунизације (уписати назив имунолошког лека):</fieldset>
    <input type="text" [(ngModel)]="obrazacSaglasnosti.saglasnost.naziv_leka"/><br /><br />

    <b>Лекар ми је објаснио предности и ризике од спровођења активне/пасивне
      имунизације наведеним имунолошким леком.</b>
    <br /><br />

    <div class="form-group">
      <button class="btn btn-primary btn-block" id="ok" (click)="onPotvrdi()">
        Потврди
      </button>
    </div>
  </form>

  <!-- <h2 id="title">
    ЕВИДЕНЦИЈА О ВАКЦИНАЦИЈИ ПРОТИВ COVID-19<br />
    (попуњава здравствени радник)
  </h2>
  <br /><br />

  Здравствена установа <input type="text" id="datumRodjenja" /> Вакцинацијски
  пункт <input type="text" id="datumRodjenja" /> <br /><br />
  Име, презиме, факсимил и бр. телефона лекара:
  <input type="text" id="datumRodjenja" /> <br /><br />
  Пре давања вакцине прегледати особу и упознати је са користима и о могућим
  нежељеним реакцијама после вакцинације. Обавезно уписати сваку дату вакцину и
  све тражене податке у овај образац и податке унети у лични картон о извршеним
  имунизацијама и здравствени картон. <br /><br />

  <table>
    <tr>
      <td>Назив вакцине</td>
      <td>Датум давања вакцине (V1 i V2)</td>
      <td>Начин давања вакцине</td>
      <td>Екстремитет</td>
      <td>Серија вакцине (лот)</td>
      <td>Произвођач</td>
      <td>Нежељена реакција</td>
      <td>Потпис лекара</td>
    </tr>
    <tr>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>ИМ</td>
      <td>
        <input type="radio" id="lr" class="radio" />ЛР
        <input type="radio" id="dr" class="radio" />ДР
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>ИМ</td>
      <td>
        <input type="radio" id="lr2" class="radio" />ЛР
        <input type="radio" id="dr2" class="radio" />ДР
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td>
        <input type="text" class="imput-tabela" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td colspan="8">
        Привремене контраиндикације <br />
        (датум утврђивања и дијагноза):
        <input type="text" />
      </td>
    </tr>
    <tr>
      <td colspan="8">
        Одлука комисије за трајне контраиндикације (ако постоји, уписати Да)
        <input type="text" />
      </td>
    </tr>
  </table>
  <b>Напомена:</b> Образац се чува као део медицинске документације пацијента.

  <div class="form-group">
    <button class="btn btn-primary btn-block" id="ok" (click)="onPotvrdi()">
      Потврди
    </button>
  </div> -->
</div>
