<div id="page">
  <div class="row">
    <div class="column">
      <img
        src="https://data.gov.rs/s/avatars/2e/7864606e35474b98eb147395fecb72-100.png"
        style="height: 180px"
        alt="Italian Trulli"
      />
    </div>
    <div class="column">
      <h4>ИНСТИТУТ ЗА ЈАВНО ЗДРАВЉЕ СРБИЈЕ <br />"Др Милан Јовановић Батут"</h4>
      <h4 id="zaglavlje">
        INSTITUT ZA JAVNO ZDRAVLJE SRBIJE <br />"Dr Milan Jovanović Batut"<br />INSTITUTE
        OF PUBLIC HEALTH OF SERBIA<br />"Dr Milan Jovanovic Batut"
      </h4>
    </div>
  </div>
  <b>Шифра потврде вакцинације:</b> <input type="text" required /><br />
  <p>Šifra potvrde/Confirmation code</p>

  <h4 id="title">ПОТВРДА О ИЗВРШЕНОЈ ВАКЦИНАЦИЈИ ПРОТИВ COVID-19<br /></h4>
  <p id="podnaslov">
    POTVRDA O IZVRŠENOJ VAKCINACIJI PROTIV COVID-19 <br />
    CONFIRMATION OF THE COVID-19 VACCINATION
  </p>
  <br />

  <b>Име и презиме:</b> <input type="text" required />
  <br />
  <p>Ime i prezime/First and Last Name</p>

  <b>Датум рођења:</b><input type="date" required [(ngModel)]="potvrdaVakcinacije.osoba.datum_rodjenja"
  [ngModelOptions]="{ standalone: true }"/><br />
  <p>Datum rođenja/Date Of Birth</p>

  <b> Пол: </b> <input type="radio" id="m" class="radio" [(ngModel)]="potvrdaVakcinacije.osoba.pol"
  [ngModelOptions]="{ standalone: true }"/> Мушки
  <input type="radio" id="z" class="radio" [(ngModel)]="potvrdaVakcinacije.osoba.pol"
  [ngModelOptions]="{ standalone: true }"/> Женски <br />
  <p>Pol/Gender</p>

  <b>ЈМБГ:</b><input type="text" required [(ngModel)]="potvrdaVakcinacije.osoba.jmbg"
  [ngModelOptions]="{ standalone: true }"/><br />
  <p>JMBG/Personal No</p>

  <b
    >Датум давања <input type="date" required />и број серије прве дозе вакцине:
    <input type="text" required /></b
  ><br />
  <p>Datum vakcinacije/Vaccination Date</p>

  <b>Датум давања <input type="date" required /> и број серије друге дозе вакцине:</b
  ><input type="text" required /><br />
  <p>Datum druge vakcinacije/Second Vaccination Date</p>

  <b>Здравствена установа која вакцинише:</b
  ><input type="text" required /><br />
  <p>
    Zdravstvena ustanova koja vakciniše/ Health care institution of vaccination
  </p>

  <b>Назив вакцине:</b>
  <select name="pol" >
    <option value="Pfizer-BioNtech">Pfizer-BioNTech</option>
    <option value="Sputnik V (Gamaleya istraživački centar)">Sputnik V (Gamaleya истраживачки центар)</option>
    <option value="Sinopharm">Sinopharm</option>
    <option value="AstraZeneca">AstraZeneca</option>
    <option value="Moderna">Moderna</option>
    <option value="Bilo koja">Било која</option>
  </select><br />
  <p>Naziv vakcine/Name of vaccination</p>

  <b>Датум издавања потврде:</b><input type="date" required /><br />
  <p>Datum izdavanja potvrde/Confirmation Release Date</p>

  <div id="desno">
    <b>Здравствена установа:</b><input type="text" required /><br />
    <p>Zdravstvena ustanova/Medical institution</p>
  </div>

  <b> Ова потврда важи без потписа и печата</b><br />
  <p>
    Ova potvrda važi bez potpisa i pečata/This certificate is valid without
    signatures and seals
  </p>
  <div class="form-group">
    <button class="btn btn-primary btn-block" id="ok">Потврди</button>
  </div>
</div>
