<div id="page">
  <h2 id="title">Исказивање интересовања за вакцинисање против COVID-19</h2>
  <form name="interesovanje" (ngSubmit)="(f.form.valid)" #f="ngForm" novalidate>
    <div>
      <br />
      Одаберите опцију: <br />

      <div id="grupa">
        <fieldset id="drzavljanstvo">
        <input
          type="radio"
          id="one"
          class="radio"
          name="drzavljanstvo"
          [(ngModel)]="interesovanje.podaci_o_osobi.drzavljanstvo"
          value="Državljanin Republike Srbije"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        Држављанин Републике Србије <br />
        <input
          type="radio"
          id="two"
          class="radio"
          name="drzavljanstvo"
          [(ngModel)]="interesovanje.podaci_o_osobi.drzavljanstvo"
          value="Strani državljanin sa boravkom u RS"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        Страни држављанин са боравком у РС <br />
        <input
          type="radio"
          id="three"
          class="radio"
          name="drzavljanstvo"
          [(ngModel)]="interesovanje.podaci_o_osobi.drzavljanstvo"
          value="Strani državljanin bez boravka u RS"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        Страни држављанин без боравка у РС <br /><br />
      </fieldset>
      </div>

      ЈМБГ:
      <input
        type="text"
        class="form-control"
        name="jmbg"
        id="jmbg"
        [(ngModel)]="interesovanje.podaci_o_osobi.JMBG"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <div
        class="alert alert-danger"
        role="alert"
        id="passwordError"
        *ngIf="checkJMBG() && f.submitted"
      >
        ЈМБГ треба да садржи 13 цифара.
      </div>
      <br />
      Име:
      <input
        type="text"
        class="form-control"
        name="ime"
        id="ime"
        [(ngModel)]="interesovanje.podaci_o_osobi.ime"
        [ngModelOptions]="{ standalone: true }"
        required
      /><br />

      Презиме:
      <input
        type="text"
        class="form-control"
        name="prezime"
        id="prezime"
        [(ngModel)]="interesovanje.podaci_o_osobi.prezime"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <br />

      Адреса електронске поште:
      <input
        type="text"
        class="form-control"
        name="adresa"
        id="adresa"
        [(ngModel)]="interesovanje.podaci_o_osobi.email"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <div
        class="alert alert-danger"
        role="alert"
        id="passwordError"
        *ngIf="checkEmail() && f.submitted"
      >
        Непостојећи мејл.
      </div>
      <br />

      Број мобилног телефона (навести број у формату 06X..... без размака и
      цртица):
      <input
        type="text"
        class="form-control"
        name="mobilni"
        id="mobilni"
        [(ngModel)]="interesovanje.podaci_o_osobi.broj_mobilnog_telefona"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <div
        class="alert alert-danger"
        role="alert"
        id="passwordError"
        *ngIf="checkMobilni() && f.submitted"
      >
        Погрешан формат.
      </div>
      <br />

      Број фиксног телефона (навести број у формату нпр. 011..... без размака и
      цртица):
      <input
        type="text"
        class="form-control"
        name="fiksni"
        id="fiksni"
        [(ngModel)]="interesovanje.podaci_o_osobi.broj_fiksnog_telefona"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <div
        class="alert alert-danger"
        role="alert"
        id="passwordError"
        *ngIf="checkFiksni() && f.submitted"
      >
        Погрешан формат.
      </div>
      <br />Одаберите локацију где желите да примите вакцину (унесите општину):
      <input
        type="text"
        class="form-control"
        name="opstina"
        id="opstina"
        [(ngModel)]="interesovanje.opsti_podaci.lokacija_opstina"
        [ngModelOptions]="{ standalone: true }"
        required
      />

      <br />Исказујем интересовање да примим искључиво вакцину следећих
      произвођача за који Агенција за лекове и медицинска средства потврди
      безбедност, ефикасност и квалитет и изда дозволу за употребу лека: <br />
      <div id="grupa">
        <fieldset id="tipVakcine">
        <input
          type="radio"
          id="pfizer"
          class="radio"
          value="Pfizer-BioNtech"
          name="tipVakcine"
          [(ngModel)]="interesovanje.opsti_podaci.tip_vakcine"
          [ngModelOptions]="{ standalone: true }"
        />Pfizer-BioNTech <br />
        <input
          type="radio"
          id="sputnik"
          class="radio"
          value="Sputnik V (Gamaleya istraživački centar)"
          name="tipVakcine"
          [(ngModel)]="interesovanje.opsti_podaci.tip_vakcine"
          [ngModelOptions]="{ standalone: true }"
        />Sputnik V (Gamaleya истраживачки центар) <br />
        <input
          type="radio"
          id="sinopharm"
          class="radio"
          value="Sinopharm"
          name="tipVakcine"
          [(ngModel)]="interesovanje.opsti_podaci.tip_vakcine"
          [ngModelOptions]="{ standalone: true }"
        />Sinopharm
        <br />
        <input
          type="radio"
          id="astraZeneca"
          class="radio"
          value="AstraZeneca"
          name="tipVakcine"
          [(ngModel)]="interesovanje.opsti_podaci.tip_vakcine"
          [ngModelOptions]="{ standalone: true }"
        />AstraZeneca
        <br />
        <input
          type="radio"
          id="moderna"
          class="radio"
          value="Moderna"
          name="tipVakcine"
          [(ngModel)]="interesovanje.opsti_podaci.tip_vakcine"
          [ngModelOptions]="{ standalone: true }"
        />
        Moderna <br />
        <input
          type="radio"
          id="biloSta"
          class="radio"
          value="Bilo koja"
          name="tipVakcine"
          [(ngModel)]="interesovanje.opsti_podaci.tip_vakcine"
          [ngModelOptions]="{ standalone: true }"
        />
        Било која
      </fieldset>
      </div>
      <br />
      Да ли сте добровољни давалац крви? <br />
      <div id="grupa">
        <fieldset id="davalacKrvi">
        <input
          type="radio"
          id="da"
          name="davalacKrvi"
          value="true"
          [(ngModel)]="interesovanje.opsti_podaci.davalac_krvi"
          [ngModelOptions]="{ standalone: true }"
        />
        Да <br />
        <input
          type="radio"
          id="ne"
          name="davalacKrvi"
          value="false"
          [(ngModel)]="interesovanje.opsti_podaci.davalac_krvi"
          [ngModelOptions]="{ standalone: true }"
        />
        Не <br />
      </fieldset>
      </div>
      <br /><br />
      дана 14.02.2022. године <br />
      <div class="form-group">
        <button class="btn btn-primary btn-block" id="ok" (click)="onPotvrdi()">
          Потврди
        </button>
      </div>

      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          id="error"
          *ngIf="f.submitted && !validForm"
        >
          Invalid username or password.
        </div>
      </div>
    </div>
  </form>
</div>
