<div id="page">
  <h2 id="title">Исказивање интересовања за вакцинисање против COVID-19</h2>

  <form name="form">
    <div>
      <br />
      Одаберите опцију: <br />

      <div id="grupa">
        <input type="radio" id="one" class="radio" /> Држављанин Републике
        Србије <br />
        <input type="radio" id="two" class="radio" /> Страни држављанин са
        боравком у РС <br />
        <input type="radio" id="three" class="radio" /> Страни држављанин без
        боравка у РС <br /><br />
      </div>

      ЈМБГ:
      <input
        type="text"
        class="form-control"
        name="jmbg"
        id="jmbg"
        required
      /><br />
      Име:
      <input
        type="text"
        class="form-control"
        name="ime"
        id="ime"
        required
      /><br />

      Презиме:
      <input
        type="text"
        class="form-control"
        name="prezime"
        id="prezime"
        required
      />
      <br />

      Адреса електронске поште:
      <input
        type="text"
        class="form-control"
        name="adresa"
        id="adresa"
        required
      />
      <br />

      Број мобилног телефона (навести број у формату 06X..... без размака и
      цртица):
      <input
        type="text"
        class="form-control"
        name="mobilni"
        id="mobilni"
        required
      />
      <br />

      Број фиксног телефона (навести број у формату нпр. 011..... без размака и
      цртица):
      <input
        type="text"
        class="form-control"
        name="fiksni"
        id="fiksni"
        required
      />
      <br />Одаберите локацију где желите да примите вакцину (унесите општину):
      <input
        type="text"
        class="form-control"
        name="opstina"
        id="opstina"
        required
      />

      <br />Исказујем интересовање да примим искључиво вакцину следећих
      произвођача за који Агенција за лекове и медицинска средства потврди
      безбедност, ефикасност и квалитет и изда дозволу за употребу лека: <br />
      <div id="grupa">
        <input type="radio" id="sputnik" class="radio" />Pfizer-BioNTech <br />
        <input type="radio" id="sputnik" class="radio" />Sputnik V (Gamaleya
        истраживачки центар) <br />
        <input type="radio" id="sinopharm" class="radio" />Sinopharm
        <br />
        <input type="radio" id="astraZeneca" class="radio" />AstraZeneca
        <br />
        <input type="radio" id="moderna" class="radio" /> Moderna <br />
        <input type="radio" id="biloSta" class="radio" /> Било која
      </div>
      <br />
      Да ли сте добровољни давалац крви? <br />
      <div id="grupa">
        <input type="radio" id="da" class="radio" /> Да <br />
        <input type="radio" id="ne" class="radio" /> Не <br />
      </div>
      <br /><br /><br /><br /><br />
      дана 14.02.2022. године <br /><br /><br />
      <div class="form-group">
        <button class="btn btn-primary btn-block" id="ok">Потврди</button>
      </div>
    </div>
  </form>
</div>
