
  <p>E pa, ako ovo vidis onda radi okej</p> 
<div>
    <ul>
    <li>
      <a class="nav-link" [routerLink]="['interesovanje']">Interesovanje</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['obrazac-saglasnosti']">Saglasnost</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['sertifikat-zahtev']">Sertifikat</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['potvrda-vakcinacije']">Potvrda o vakcinaciji</a>
    </li>
  </ul>

  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

  </div> 