<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['interesovanje']">Интересовање</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['obrazac-saglasnosti']"
          >Сагласност</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['sertifikat-zahtev']">Сертификат</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['potvrda-vakcinacije']"
          >Потврда о вакцинацији</a
        >
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <a class="nav-link" [routerLink]="['registracija']">Регистрација</a>
      <a class="nav-link" [routerLink]="['registracija']">Пријави се</a>
    </form>
  </div>
</div>

<div class="container content-container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
